body {
	background-image: url('img/speckled2.jpg');
	margin: 20px;
	-webkit-transition: margin .2s;
}

body, input, select, textarea {
	font: 9pt 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
}

input[type=text], input[type=password], input[type=button], input[type=submit], input[type=reset], select, textarea {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #888;
	margin: 0;
	outline: none;
}
input:focus, select:focus, textarea:focus {
	border-color: #000;
}

input[type=button], input[type=submit], input[type=reset] {
	background-color: #ddd;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
}

input[type=text], input[type=password], textarea {
	padding: 5px;
}

input[disabled] {
	background-color: #bbb;
	color: #888;
	cursor: default;
}

label.input span {
	color: #888;
	cursor: text;
	padding: 6px;
	position: absolute;
	pointer-events: none;
}

table {
	border-collapse: separate;
	border-spacing: 5px;
}

textarea {
	display: block;
	height: 100px;
	word-wrap: break-word;
}

#userbar, #newsbar {
	height: 100%;
	position: fixed;
	top: 0;
	transition: left .2s, right .2s;
	-webkit-transition: left .2s, right .2s;
	width: 200px;
}
#newsbar {
	right: -190px;
}
#newsbar:hover {
	right: 0;
}
#userbar {
	left: -190px;
}
#userbar:hover {
	left: 0;
}

#wrapper, .wrapper {
	margin: auto;
	max-width: 600px;
	width: 100%;
}

.bordered {
	border: 1px solid #888;
}

.content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 10px;
}

.cb {
	clear: both;
}

.darkbg {
	background-color: #000;
	background-image: url('img/darkbg.jpg');
	color: #fff;
	text-shadow: 0px 1px 0px #000;
}
.darkbg a {
	color: #fff;
}
.darkbg input {
	background-color: #000;
	color: inherit;
}
.darkbg input:focus {
	border-color: #fff;
}

.dn {
	display: none;
}

.fl {
	float: left;
}
.fr {
	float: right;
}

.info {
	color: #888;
}

.lightbg {
	background-color: #fff;
}

.ma {
	margin: auto;
}

.shadowed {
	box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
}

.tac {
	text-align: center;
}

.wf {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
}